<div class="col-sm-12">
  <h1>Batch Status</h1>

  <%= link_to "All batches", main_app.batches_path %>

  <%= render 'batch_info',  batch: @batch %>
  <%= render 'batch_items', batch: @batch %>
</div>
