<h2>About the Tufts Digital Library Deposit License</h2>
<div class="content">
  <p>In order to deposit your work in the Tufts Digital Library, we need you to grant us certain rights in your work.
    Without these rights, we cannot make your work accessible for scholarly or educational use. In agreeing to this
    license, you retain copyright to your work.</p>
  <p>Questions? Contact us at 617.627.3737 or email <a href="mailto:archives@tufts.edu">archives@tufts.edu</a>.</p>

  <h3>Non-Exclusive Deposit License</h3>
  <blockquote>
    <p>In order for Tufts University to reproduce, translate, and distribute your submission worldwide, your agreement
      to the following terms is necessary. Please take a moment to read the terms of this license.</p>
    <p>By clicking through this license, you (the author(s) or copyright owner(s)) grant to Tufts University the
      non-exclusive right to reproduce, translate to any medium or format for the purpose of preservation, and/or
      distribute your submission (including the abstract) worldwide in whole or in part in any form of media now or
      hereafter known. You retain all other ownership rights to the copyright of your submission including the right
      to use in future works.</p>
    <p>You also agree that Tufts University may keep more than one copy of your submission for purposes of security,
      back-up, and preservation.</p>
    <p>You represent that the submission is your original work, and/or that you have the right to grant the rights
      contained in this license. You also represent that your submission does not, to the best of your knowledge,
      infringe upon anyone&#8217;s copyright, trademark, or other lawful intellectual property right.</p>
    <p>If the submission contains materials for which you do not hold copyright, your represent that you have obtained
      the unrestricted permission of the copyright owner(s) to grant Tufts University the rights required by this
      license, and that such third-party owned material is clearly identified and acknowledged within the text or
      content of the submission.</p>
    <p>If the submission is based upon work that has been sponsored or supported by an agency or organization other
      than Tufts University, you represent that you have fulfilled any right of review or other obligations required
      by such contract or agreement.</p>
    <p>Tufts University will not make any alteration, other than as allowed by this license, to your submission.</p>
  </blockquote>
</div>
