@import 'variables';

.row.collection, .batch-info {
  background: $tufts_white;
  margin: 0;
  border-radius: 4px;
  padding: 1em;
}


h2.col-xs-6 {
  background: $tufts_bar;
  border-radius: 4px;
  margin-left: 15px;
  padding: 1em;
}
