@import 'variables';
  
/* ------------------------
 *  FOOTER
 * ------------------------ */

.blue-footer {
  background-color: $tufts_blue;
  padding: $main_padding;
  margin-bottom: 20px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;

  img {
    border: 0;
    margin-left: -2em;
    margin-top: 1em;
  }
}

#copyright {
  color: #ffffff;
  line-height: 150%;
  margin-top: 3.5%;
}
