<% if resource.errors.any? %>
  <div id='error_explanation'>
    <h3> <%= "Unable to save #{resource_name}:" %> </h3>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
