<div id="header-navbar" class="navbar navbar-fixed-top">
  <div class="blueline"></div>
    <div class="container">
      <div class="navbar-header">
        <%= link_to application_name, root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-right">
        <div class="nav navbar-nav">
        <%= render '/user_util_links' %>
        </div>
      </div>

    </div>
</div>
