<ul class="batch-controls">
  <li class="batch-check">
    <%= check_box_tag 'check_all', 'yes', @all_checked %>
  </li>
  <li>
    <%= button_to "Apply Template", new_template_update_path, method: :get, class: "btn btn-primary submits-batches" %>
  </li>
  <li>
    <%= button_to "Publish", batches_path, method: :post, params: { batch: { batchable_attributes: { batch_type: "Publish" } } }, class: "btn btn-primary submits-batches" %>
  </li>
  <li>
    <%= button_to "Export Metadata", metadata_exports_path, method: :post, class: "btn btn-primary submits-batches" %>
  </li>
  <li class="selected-documents">
    <div id="selected_documents_count">Number of documents selected: 0</div>
  </li>
</ul>
