<tr>
  <td> <%= link_to "Edit", main_app.edit_template_path(template.name), class: "btn btn-primary", id: "edit-#{template.name}" %></td>
  <td> <%= template.name %> </td>
  <td> <%= link_to "Delete", main_app.template_path(template.name), method: :delete, class: "btn btn-danger",  data: {confirm: "WARNING: this will permanently delete template #{template.name}! Are you sure you want to proceed?"} %> </td>
</tr>
