// Place all the styles related to the batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#select_files {
  position: relative;
  overflow: hidden;

  // Used by javascript to add an invisible file input over the select files button.
  .overlay-select-files {
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
  }
}

.fileupload-buttonbar {
  margin-bottom: 0.5em;
}

input[type='radio'][name='batch_template_update[behavior]'] {
  margin-left: 0;
}

.radio-label {
  margin-left: 2em;
}

#new_batch_template_update, #new_batch {
  padding-right: 25px;
}

.batch-actions form {
  display: inline-block;
  margin-bottom: 1em;
}
