.batch-controls {
    list-style:none;
    display:inline-block;
    margin-left:0;
    padding-left:0;
    width:100%;
    li {
        float:left;
        margin-right:1em;
    }
    .batch-check {
        margin-top:.5em;
    }
    .selected-documents {
        float:none;
        margin-top:3em;
        margin-left:.6em;
    }
}

#search-results input.batch_document_selector {
    position: absolute;
    left: 0;
    margin-left: 25px;
    margin-top: 11px;
    height: 13px;
    line-height: normal;
}

#search-results ol {
    list-style:none;
    counter-reset: item;
}
  
#search-results ol li:before {
    content: counter(item) ".";  
    counter-increment: item;
    display: inline-block;
    float:left;
    margin-right:1em;
    margin-top:.5em;
}
