$tufts_nav: #EEEEEE;
$logo_image: 'mira.png';

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';


.container-fluid {
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

nav.navbar-inverse {
  background-color: $tufts_nav;
  border-top: 10px solid #6699cc;
  padding-top: 10px; 
}

.navbar-brand {
    background: transparent url('mira.png') no-repeat top left;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0;
    margin-right: 20px;
    padding-left: 0;
}

.searchbar-left {
    margin-left: -1em;
}

.util-links-login {
  display:none;
}

#search_link {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
