// Place all the styles related to the deposit_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$table_border_color: #ccc;

@mixin table_style {
  border: 1px solid $table_border_color;
  border-collapse: collapse;
}


.blacklight-deposit_types {
  h1 { margin-bottom: 0.5em; margin-top: 0; }
  .btn { margin-bottom: 1em; }
  .btn.pull-right { margin-top: 0.75em; }
}


.blacklight-deposit_types {
  table {
    margin-top: 1.5em;
    margin-bottom: 1em;
    @include table_style;

    th {
      font-weight: bold;
      text-align: left;
    }

    td, th {
      @include table_style;
      padding: 0.5em 1em;
    }
  }
}
