.modal-header {
    border-bottom:0;
}

.modal-body {
    padding-top:2em;
    padding-bottom:2em;
}

.modal-footer {
    border-top:0;
}

.new-work-select {
    margin-left:1em;
}

.new-work-select-box {
    width: 300px;
    display: block;	
}
