// Place all the styles related to the TemplateUpdates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.template-select {
  font-size: 1.15em;
  min-width: 300px;
  margin-left: 1em;
  -webkit-appearance: menulist-button;
}

#template-behavior label {
  margin-bottom: 1.5em;
}

#template-behavior input {
  margin-right: 0.5em;
}