<% if f.object.persisted? && f.object.member_ids.present? %>
  <div class="well form-media">
    <%= render 'form_representative', f: f %>
    <%= render 'form_thumbnail', f: f %>
  </div>
<% end %>

