<% all_terms = f.object.primary_terms + f.object.secondary_terms %>

<div class="well">
   <%= render 'form_media', f: f %>
</div>
<div class="base-terms">
  <%= render_edit_field_partial(:title, f: f) %>
  <%= render_edit_field_partial(:description, f: f) %>
  <% all_terms.sort.each do |term| %>
  <%= render_edit_field_partial(term, f: f) %>
  <% end %>
</div>

