<div class="well">
   <%= render 'form_media', f: f %>
</div>
<div class="base-terms">
  <%  Tufts::Terms.shared_terms.each do |term| %>
  <%= render_edit_field_partial(term, f: f)  %>
  <% end %>
</div>
