<% presenter.title.each_with_index do |title, index| %>
    <% if index == 0 %>
        <h1>
          <%= title %> <%= presenter.permission_badge %>
           <%= render 'tufts/workflow_status_badge', locals: {id: presenter.id} %>
        </h1>
    <% else %>
        <h1><%= title %></h1>
    <% end %>
<% end %>
