<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
<h1><%= t("hyrax.works.update.header") %></h1>
<% end %>

<nav class="draft-bar">
<%= react_component('DraftControls', {curation_concern_id: curation_concern.id, draft_saved: curation_concern.draft_saved?}, {camelize_props: true}) %>
</nav>

<%= render 'form' %>
